/* Stylez */
body {font-family: Franklin Gothic Book, Source Sans Pro, Helvetica Neue, sans-serif; margin: 0 auto; background: #efefef; line-height: 1.8em; box-sizing: border-box; color: #333;}
body, html {height: 100%;}
@import url('https://fonts.googleapis.com/css2?family=Trirong&display=swap');
.wrapper {box-sizing: border-box; background: #fff; box-shadow: 0 0 5px #888; box-shadow: 0 0 5px #888; height: 100%; overflow: auto; }


a {color: #777; text-decoration: none; }
a:hover {border-bottom: 1px solid #CCFF26; color: #222}
p {font-weight: 200; font-size: 20px;}

.name {font-family: Playfair Display; font-size: 50px; font-weight: 900; padding-bottom: 20px;}


.meta {text-transform: uppercase; font-family: Courier New, Quicksand, "Helvetica Neue", "Arial", sans-serif; font-size: 11px; letter-spacing: .15em;}
.meta a:hover {border-bottom: 1px solid #CCFF26; color: #333;}

.inline-list {list-style: none; margin: 0; padding: 0;}
.inline-list li {display: inline-block;}

footer .inline-list li {padding-right: 40px;}
footer {margin: 0 auto; position: absolute; bottom: 0px; padding: 40px 0; width: 600px;}


/* HEADER CSS */
.header_container {
    z-index: 1000;
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2vw;
}


.menu_container {
    width:100%;
}
.menu_container a {
    font-family: 'Trirong', serif;
    font-size: 50px;
    color: white;

}

/* HERO Container*/

.hero_image_container {
    position: absolute;
    height: 100vh;
    width: 100%;

    top: 0;
    left: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CONTENT CONTAINER MAIN*/
.content_container {
    top: 0;
    left: 0;
    padding-top: 100vh;
    position: absolute;
    width: 100%;
    padding: 15px 2vw;
}